@using GraniteMason.Models.Entity
@model List<TblHomeGallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Anasayfa Galeri Ekrani Resim Ve Aciklamalar</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Resim</th>
        <th>Baslik</th>
        <th>Alt Baslik</th>
        <th>Aciklama</th>
        <th>Sil</th>
        <th>Duzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.GaleriResim</td>
            <td>@item.GaleriBaslik</td>
            <td>@item.GaleriAltBaslik</td>
            <td>@item.GaleriAciklama</td>
            <td><a href="/AnasayfaGaleri/AnasayfaGaleriSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AnasayfaGaleri/AnasayfaGaleriGetir/@item.ID" class="btn btn-warning">Duzenle</a></td>
        </tr>
    }
</table>
<a href="/AnasayfaGaleri/AnasayfaGaleriEkle/" class="btn btn-primary">Yeni Resim Ekle</a>